.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    box-sizing: border-box;
    width: 111px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 15px;
    padding: 5px;
    padding-bottom: 1px;
}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;

}

.header-searchInput {
    height: 14px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-searchIcon {
    padding: 5px;
    margin-left: -5px;
    height: 24px !important;
    background-color: #ffb555;

}

.header-searchIcon:hover {
    background-color: #f59d2a;
    cursor: pointer;
}

.header-optionLineOne {
    font-size: 10px;
}

.header-optionLineTwo {
    font-size: 13px;
    font-weight: 700;
}

.header-optionBasket {
    padding: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 0;
}

.header-basketCount {
    padding: 5px;
    margin-left: -15px;
    margin-right: 15px;
    margin-top: -25px;
    font-size: 17px;
    padding: 0px;
    color: #ffb555;
    background-color: #131921;

}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-option {
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header-option-location {
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header-logo:hover {
    padding: 4px;
    padding-bottom: 0px;
    border: 1px solid white;
    border-radius: 3px;
}

.header-option:hover {
    padding: 4px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;

}

.header-location {
    display: flex
}

.header-location:hover {
    padding: 4px;

    border: 1px solid white;
    border-radius: 3px;

}

.cart-text {
    font-weight: 700;
    font-size: 14px;
    margin-top: 8px;
    margin-left: -2px;
    margin-right: 5px;
}

.location-container {
    display: flex
}

.header-search-mobile {
    display: none;
}


@media(max-width: 667px) {

    .header {
        display: flex;
        height: 50px;
    }

    .header-search {
        display: none;
    }

    .header-search-mobile {
        display: flex;
        margin-top: 0px;
        flex: 1;
        align-items: center;
        padding: 0 25px 5px;
        overflow: hidden;
        background-color: #131921;
    }

    .header-option {
        text-align: center;
    }

    .header-optionBasket {
        margin-top: 12px;
        margin-right: 12px;
    }

    .location-container {
        text-align: center;
    }

    .header-logo {
        padding-left: 0;
        width: 70px;
    }

    .header-optionLineOne {
        font-size: 9px;
    }

    .header-optionLineTwo {
        font-size: 11px;
    }

    .header-searchInput {
        height: 8px;
    }

    .header-searchIcon {
        height: 19px !important;
    }

    .cart-text {
        display: none;

    }

    .flag {
        display: none;
    }
}

/* 
@media only screen and (max-width: 400px) {
    .header-optionLineOne {
        font-size: 9px;
    }

    .header-optionLineTwo {
        font-size: 9px;
    }
} */